<h1>Add Employee</h1>
<form action="/employee/add" method="post">
   name: <input type="text" name="name"><br>
   age: <input type="number" name="age"><br>
   branch: <input type="text" name="branch"><br>
   
  <input type="submit" value="Submit">
</form>